* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.container {
    max-width: 1140px;
    margin: 0 auto;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
:root {
    --black-900: #878e99;
    --black-800: #282b30;
    --black-700: #c4cfde;
    --black-600: #15171b;
    --body: #212428;
    --red-900: #ff014f;
    --shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
    --Montserrat: 'Montserrat';
    --Poppins: 'Poppins';
    --white-color: #E4E6EA;
    --time-line-color: #9ca5b1;
    --form-text-color: #a0a8b3;
    --single-list-main-title-color:#17191c;
}
ol,ul {
    list-style: none;
}
a {
    text-decoration: none;
}
.justify-content-center {
    justify-content: center;
}
.justify-content-between {
    justify-content: space-between;
}
.justify-content-end {
    justify-content: flex-end;
}
.align-items-center {
    align-items: center;
}
.position-relative {
    position: relative;
}
.position-absolute {
    position: absolute;
}
.fixed {
    position: fixed;
}
  /* header */
.w-20{
    width: 20%;
}
.w-30{
    width: 30%;
    padding: 10px;
}
.w-70{
    width: 70%;
    padding: 10px;
}
.w-80{
    width: 80%;
}
.w-33-33{
    width: 33.33%;
    padding: 12px;
    margin: 50px 0;
}
.w-25{
    width: 25%;
}
.w-50{
    width: 50%;
    padding: 12px;
}
.w-33{
    width: 33%;
    padding: 0px 15px;
}
.w-40{
    width: 40%;
    padding: 12px;
}
.w-60{
    width: 60%;
    padding: 0px 15px;
}
.w-50{
    width: 50%;
}
/* line */
.line{
    width: 100%;
    border-bottom: 1px solid var(--black-800);
    margin: 40px 0 0 0;
}
  /* tpo box */
.box{
    width: 50px;
    height: 50px;
    background-color: var(--black-600);
    box-shadow: var(--shadow);
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    font-size: 22px;
    color:var(--red-900);
    bottom: 30px;
    left: 30px;
    right: auto;
}
.divider{
    width: 100%;
    border: 2px solid var(--black-800);
}
.justify-content-start{
    justify-content: flex-start;
}
.left{
    text-align: left;
    padding: 0 10px;
}